<div class="col-md-offset-1 col-md-4">
  <form class="form-horizontal ">
    <div class="form-group">
      <mat-label>Student id : </mat-label>
      <div class="col-sm-10">
        {{student?.id}}
      </div>
    </div>
    <div class="form-group">
      <mat-label>Student name : </mat-label>
      <div class="col-sm-10">
        {{student?.name}} {{student?.surname}}
      </div>
    </div>
    <div class="form-group">
      <mat-label>Pen amount : </mat-label>
      <div class="col-sm-10 form-inline">
        {{student?.penAmount}}
      </div>
    </div>
    <div class="form-group">
      <mat-label>File input : </mat-label>
      <div class="col-sm-10">
        <img class="img-responsive" [src]="student?.image">
        <p class="help-block">Leave here for the file preview later.</p>
      </div>
    </div>
    <div class="form-group">
      <mat-label>Description : </mat-label>
      <div class="col-sm-10">
        <!-- {{student.description}} -->
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button mat-raised-button type="submit" class="btn btn-default">Add</button>
      </div>
    </div>
  </form>
</div>

