<div class="col-md-offset-1 col-md-4">
    <form class="form-horizontal ">
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Student Id : </mat-label>
          <input matInput type="text" class="form-control" id="studentId" placeholder="Student id">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Student name : </mat-label>
          <input matInput type="text" class="form-control" id="studentName" placeholder="Name">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-label >Pen amount : </mat-label>
        <div class="col-sm-10 form-inline">
          <button mat-raised-button type="button" class="btn btn-primary btn-xs col-md-1 button-amount" (click)="downQuantity(student)">-
          </button>
          <input matInput type="text" class="col-md-1 form-control input-amount" value="0">
          <button mat-raised-button type="button" class="btn btn-primary btn-xs col-md-1 button-amount" (click)="upQuantity(student)">+
          </button>
        </div>
      </div>
      <div class="form-group">
        <mat-label>File input : </mat-label>
        <div class="col-sm-10">
          <input type="file" class="btn btn-default btn-primary" id="exampleInputFile">
          <p class="help-block">Leave here for the file preview later.</p>
        </div>
      </div>
      <div class="form-group">
       <mat-form-field appearance="fill">
        <mat-label>Description : </mat-label>
        <div class="col-sm-10">
          <textarea matInput class="form-control" id="studentDescription" placeholder="Description" row="3"></textarea>
        </div>
       </mat-form-field>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button mat-raised-button type="submit" class="btn btn-default">Add</button>
        </div>
      </div>
    </form>
  </div>
