<!-- <div class="row justify-content-start">
  <div class="col-md-offset-3	 col-md-9">
    <div *ngFor="let student of students">
      <div class="panel panel-primary  ">
        <div class="panel-heading">
          <h2 class="panel-title">{{student.studentId }}</h2>
        </div>
        <div class="panel-body row">
          <div class="col-md-4">
            <p class="student-name"> {{student. name | uppercase}} {{student.surname}}</p>
            <p *ngIf="student.gpa > 2.5">Good Student who get grade {{student.gpa | number:'1.2-2'}}</p>
            <p *ngIf="student.gpa <= 2.5">Bad Student who get grade {{student.gpa | number:'1.2-2'}}</p>
          </div>
          <div class="col-md-4">
            <img [src]="student.image" [title]="student.name">
          </div>
        </div>
        <div class="row align-items-center">
          <button type="button" class="btn btn-primary btn-xs col-md-1" (click)="downQuantity(student)">-</button>
          <input type="text" class="col-md-1" [(ngModel)]="student.penAmount">
          <button type="button" class="btn btn-primary btn-xs col-md-1" (click)="upQuantity(student)">+</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-end grade">
  <div class="alert alert-success col-md-offset-2 col-md-6"> The average gpa is {{averageGpa()}} </div>
</div> -->
<div class="mat-elevation-z8">
  <table mat-table #table [dataSource]="students" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let student">{{student.id}}</td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="student Id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Student Id</th>
      <td mat-cell *matCellDef="let student">{{student.studentId}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name and Surname</th>
      <td mat-cell *matCellDef="let student">{{student. name | uppercase}} {{student.surname}}</td>
    </ng-container>

    <!-- Gpa Column -->
    <ng-container matColumnDef="gpa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>GPA</th>
      <td mat-cell *matCellDef="let student">{{student.gpa}}</td>
    </ng-container>

    <!-- picture Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
      <td mat-cell *matCellDef="let student">
        <img width="400" height="400" src='{{student.image}}'>
      </td>
    </ng-container>

    <ng-container matColumnDef="penAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pen Amount</th>
        <td mat-cell *matCellDef="let student">
            <button type="button" class="btn btn-primary btn-xs col-md-1" (click)="downQuantity(student)">-</button>
            <input type="text" class="col-xs-2" [(ngModel)]="student.penAmount">
            <button type="button" class="btn btn-primary btn-xs col-md-1" (click)="upQuantity(student)">+</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let student; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
